body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.catalog-submenu,
.search-form,
.login-form,
.cart-form,
.modal-feedback {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ed5a3d;
  background-image: linear-gradient(to bottom, #f26843, #e74b36);
  border: none;
}

.button:hover,
.button:focus {
  background-color: #f07b64;
  background-image: linear-gradient(to bottom, #f58669, #ec6f5e);
}

.button:active {
  background-color: #dc5338;
  background-image: linear-gradient(to bottom, #d74632, #e1613e);
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-navigation-list {
  list-style: none;
}

.main-navigation-item > a {
  color: #ffffff;
}

.main-navigation-item > a:hover,
.main-navigation-item > a:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.features {
  color: #323232;
  background-color: #ece1c8;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.blog-announcements {
  color: #323232;
  background-color: #ffffff;
}

.blog-announcements p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.article-title {
  font-size: 24px;
  line-height: 30px;
}

.article-title a {
  color: #323232;
}

.mailing {
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.mailing p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-social,
.footer-navigation {
  list-style: none;
}

.footer-copyright {
  font-size: 12px;
}

.footer-navigation-item a,
.footer-copyright a:last-child {
  color: #ffffff;
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus,
.footer-copyright a:last-child:hover,
.footer-copyright a:last-child:focus {
  color: #ffbc9e;
}

.current-page > a {
  background-color: #d07058;
}

.breadcrumbs {
  list-style: none;
  font-weight: 400;
}

.breadcrumbs-item a {
  color: #ffffff;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
  color: #ffbc9e;
}