body {
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.catalog-submenu,
.search-form,
.login-form,
.cart-form,
.modal-feedback {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ec5a3d;
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
  border: none;
}

.button:hover,
.button:focus {
  color: #fefefe;
  background-color: #f17c64;
  background-image: 
    linear-gradient(to bottom, #f26843, #e74a35),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  box-shadow: 0 1px 2px #ac1000;
}

.button:active {
  color: #fceeec;
  background-color: #db5137;
  background-image: 
    linear-gradient(to bottom, #e74a35, #f26843),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  box-shadow: inset 0 2px 2px #942718;
}

.button-big {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #ed5a3d;
  background-image: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.button-big:hover,
.button-big:focus {
  background-color: #f07b64;
  background-image: 
    linear-gradient(to bottom, #f26843, #e74a35),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  box-shadow: 0 2px 2px #ac1000;
}

.button-big:active {
  color: #fceeec;
  background-color: #db5338;
  background-image: 
    linear-gradient(to bottom, #e74a35, #f26843),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07));
  box-shadow: inset 0 2px 2px #942718;
}

.main-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-navigation-list {
  list-style: none;
}

.main-navigation-item > a {
  color: #ffffff;
}

.main-navigation-item > a:hover,
.main-navigation-item > a:focus {
  color: #323232;
  background-color: #f7f6f3;
}

.phone-number {
  font-size: 22px;
  line-height: 24px;
  color: #ffffff;
}

.features {
  color: #323232;
  background-color: #ece1c8;
}

.features-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.blog-announcements {
  color: #323232;
  background-color: #ffffff;
}

.blog-announcements p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.article-title {
  font-size: 24px;
  line-height: 30px;
}

.article-title a {
  color: #323232;
}

.article-title a:hover,
.article-title a:focus,
.article-title a:active {
  color: #e84d37;
}

.mailing {
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.mailing p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.main-footer {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.footer-social,
.footer-navigation {
  list-style: none;
}

.for-suppliers {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
}

.footer-navigation-item a {
  color: #ffffff;
}

.footer-copyright,
.footer-copyright a:last-child {
  color: #fefefe;
}

.footer-navigation-item a:hover,
.footer-navigation-item a:focus,
.footer-navigation-item a:active,
.footer-copyright a:last-child:hover,
.footer-copyright a:last-child:focus,
.footer-copyright a:last-child:active {
  color: #ffbc9e;
}

.current-page > a {
  background-color: #d07058;
}

.breadcrumbs {
  list-style: none;
  font-weight: 400;
}

.breadcrumbs-item a {
  color: #ffffff;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
  color: #ffbc9e;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
}

.catalog-list {
  list-style: none;
}

.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.catalog-item-title a {
  color: #ffffff;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: #ffbc9e;
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
}

.catalog-item-price span {
  font-size: 30px;
}